*.iml
.gradle
.android-sdk/
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.build-outputs/
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
debug.keystore.base64
*.jks
*.keystore
*.p12
*.pem
